<h1>About Me</h1>
<p>My name is Stephen and I am a rising junior attending George Mason University in the fall of 2021.</p>
<p>I am majoring in Computer Science and am an intern at Solution Street LLC which is a IT consulting company.</p>
<p>I will be assisting developers to produce applications for a variety of clients.</p>
