<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1>About</h1>
            <p>My name is Stephen Charette and I am majoring in Computer Science at George Mason University. I am an intern with Solution Street LLC in Herndon, VA.
            I created this website so I can build calculators for certain investment vehicles as I was calculating this on a regular basis to see how much I will have
            at retirement given certain contribution targets. There are other ones online but I wanted to create my own because I wanted more features than other popular ones.</p>
        </div>
    </div>
</div>