<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1>Contact Information</h1>
            <p>Creator email: scharette@solutionstreet.com</p>
            <a href="https://www.linkedin.com/in/stephen-charette-bb8226141/">Linkedin Profile</a>
        </div>
    </div>
</div>
